.imgDnd{
  display: flex;
}

.targetBox{
  border: 1px solid gray;
  height: 6rem;
  width: 19rem;
  text-align: center;
  align-content: center;
  overflow: hidden  ;
}

.preview{
  display: flex;
  justify-content: center;
}

.fileName{
  display: block;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileName:hover{
  overflow: visible;
  white-space: normal;
  height: auto;
}